sup a {
	text-decoration: none;
}
kbd {
	background-color: WhiteSmoke;
	border-radius: 2px;
	border: 1px solid Silver;
	box-shadow: 1px 1px 2px;
	display: inline-block;
	line-height: 1;
	padding: 2px 4px;
	white-space: nowrap;
}
@media (prefers-color-scheme: dark) {
	body {
		background: Black;
		color: White;
	}
	a {
		color: LightSkyBlue;
	}
	a:visited {
		color: MediumPurple;
	}
	button:disabled {
		color: Silver;
	}
	kbd {
		background-color: DarkSlateGray;
		border: 1px solid SlateGray;
		box-shadow: 1px 1px 2px Silver;
		color: White;
	}
}
