sup a {
	text-decoration: none;
}
kbd {
	border: 1px solid Silver;
	box-shadow: 0.1em 0.1em 0.2em;
	background-color: WhiteSmoke;
	padding: 0.1em 0.3em;
}
@media (prefers-color-scheme: dark) {
	body {
		background: Black;
		color: White;
	}
	a {
		color: LightSkyBlue;
	}
	a:visited {
		color: MediumPurple;
	}
	button:disabled {
		color: Silver;
	}
	kbd {
		color: Black;
		box-shadow: 0.1em 0.1em 0.2em White;
	}
}
